@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;

  position: relative;
}
h3{
    color: #413960;
  };

h5{
  color: #585859;
}
#home {
  width: 100%;
  height: 100vh;
  background-color: #f0fff0;
}
nav {
  width: 100%;
  height: 15vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .logo {
  width: 120px;
}
nav ul {
  width: 100%;
  position: absolute;
  height: 100vh;
  background-color: #282531;
  display: flex;
  flex-direction: column;
  display: none;
  align-items: center;
  justify-content: space-evenly;
}
nav i{
  display: none;
  font-size: 24px;
  color: black;
  margin-bottom: 12px;
}
.close{
  color: white;
}
nav ul a {
  list-style: none;
  text-decoration: none;
  margin: 0 15px;
  color: rgb(255, 255, 255);
}
nav button {
  padding: 12px 28px;
  width: 104px;
}
.hero {
  height: 85vh;
  margin: 0 auto;
  width: 98%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
}
.hero .left {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 6vh;
}
.hero .left .color {
  color: #fd511a;
}
.hero h1 {
  font-size: 35px;
  line-height: 1.2;
}

.hero span {
  color: #21b573;
}

button {
  padding: 12px 36px;
  width: 150px;
  border-radius: 40px;
  border: none;
  background-color: #21b573;
  color: #fff;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}

.hero .right img {
  width: 99vw;
}

/* 

---------  features     -------

*/

.features {
  margin: 0 auto;
  width: 88%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: space-evenly;
  padding: 10vh 1%;
  text-align: center;
}
.features img {
  width: 86px;
}
.features h3 {
  margin: 10px auto 5px auto;
  color: #413960;
  font-size: 24px;
}
.features .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 270px;
  border-radius: 5px;
  background-color: #f5fffa;
}
.features .item:hover {
  box-shadow: 0 0 25px #00000019;
  background-color: #fff;
}
/* 

---------  Courses     -------

*/

.courses {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.courses h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #413960;
  margin: 50px auto;
}
.courses img {
  width: 330px;
  border-radius: 12px;
}

.course {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.course .item {
  display: flex;
  /* flex-wrap: wrap; */
  background-color: #fff;
  border-radius: 11px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin: 14px;
  width: 350px;
  padding: 14px 10px;
  justify-content: center;
  box-shadow: 0 0 21px #00000019;
}
.course .item:hover {
  box-shadow: 0 0 15px #00000060;
  background-color: #f5fffa;
}
.item h5 {
  margin-bottom: 8px;
}
.course .item .timetable {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.item button {
  padding: 8px 28px;
  margin: 5x 0 20px 0;
}

.start img,
.sit img {
  width: 20px;
  padding: 2px;
}
.start,
.sit {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-left: 10px;
  margin-right: 15px;
  padding-right: 15px;
  width: 99px;
}

.start {
  width: 180px;
}

#testimonial {
  text-align: center;
  width: 100%;
  margin: 20vh auto;
}
#testimonial h1 {
  font-size: 36px;
  margin: 30px auto;
}
#testimonial div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#testimonial img {
  width: 160px;
}
#testimonial p {
  margin: 20px;
  text-align: justify;
}

footer {
  width: 100%;
  background-color: #282531;
  color: #fff;
  font-size: 16px;
}
.footer {
  padding: 10px 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 23px;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
}
.footer .foot {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

footer img {
  width: 200px;
}

.copy {
  text-align: center;
  margin: 20px 0;
  padding: 21px 0;
}
